<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в аккаунт</title>
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='login.css') }}">
</head>
<body>
<form action="{{ url_for('auth.login') }}" method="POST">
    {{ form.csrf_token }}
    <div>
        {{ form.email.label }} {{ form.email }}
        {% for error in form.email.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ form.password.label }} {{ form.password }}
        {% for error in form.password.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ form.remember.label }} {{ form.remember }}
        {% for error in form.remember.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ form.submit }}
    </div>
</form>
</body>
</html>